input, .StationsList-row {
    width:500px;
    padding:5px;
    box-sizing: border-box;
}

.StationsList {
    margin: 0px 0px;
}

.StationsList-row {
    color: #003082;
    /*background: lightgray;*/
    background: #FCC917;
    border-bottom: 1px dashed #003082;
    width: 500px;
}

.StationsList-row.ng-leave.ng-leave-active,
.StationsList-row.ng-move,
.StationsList-row.ng-enter {
    opacity:0;
    max-height:0;
}

.StationsList-row.ng-leave,
.StationsList-row.ng-move.ng-move-active,
.StationsList-row.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
}

.StationsList-row.active {
    width: 450px;
    margin-left: 50px;
    background: #003082;
    color: #FCC917;
}

.newStation {
    margin:10px 0px;
    border:1px solid black;
    padding: 5px;
}

.newStation-submit {
    padding:5px;
    background: black;
    color: white;
    margin: 5px 0px;
}

.button {
    cursor: pointer;
}

.search{
    width: Calc(100% - 501px);
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.Stations{
    height: 100%;
    width: 500px;
    float: left;
    overflow-x: hidden;
    border-right: black 1px solid;
    background: #FCC917;
    /*background: #003082;*/
}

.StationDetails {
    float: right;
    width: Calc(100% - 511px);
    height:100px;
    border-top:1px solid black;
    padding:5px;
}

.StationDetails.ng-enter,
.StationDetails.ng-leave.ng-leave-active {
    opacity:0;
    -ms-transform: scale(0.95); /* IE 9 */
    -webkit-transform: scale(0.95); /* Safari */
    transform: scale(0.95);
}

.StationDetails.ng-leave,
.StationDetails.ng-enter.ng-enter-active {
    opacity:1;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
}

.animatedCSS {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.angular-google-map-container {
    height: 800px;
    width: Calc( 100% - 501px );
    float: left;

}
